* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    /* background-color: rgb(12, 12, 12); */
    background-image: url(images/communication-4871207_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgba(255, 255, 255, 0.74);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Saira';
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin: 3vh auto;
    letter-spacing: 10px;
    color: rgb(233, 227, 218);

}

.ring {
    text-align: center;

}

.ring button {
    height: 6vh;
    width: 15vw;
    font-size: 22px;
    letter-spacing: 2px;
    background-color: rgba(46, 45, 45, 0.753);
    color: rgba(255, 255, 255, 0.753);
    border: 3px solid rgba(255, 255, 255, 0.753);
    border-radius: 10px;
    margin: 0 10px 10px;
    cursor: pointer;
    font-weight: 700;
    transition: .3s;
    animation: activeRing 2s linear infinite alternate;
}

@keyframes activeRing {
    0% {
        color: rgba(255, 255, 255, 0.753);
    }

    100% {
        color: transparent;
    }
}

.ring .changeColorBtn {
    background-color: rgba(255, 255, 255, 0.753);
    color: rgba(7, 7, 7, 0.753);
    animation: none
}

.ring button:hover {
    background-color: rgba(255, 255, 255, 0.753);
    color: rgba(7, 7, 7, 0.753);
    animation: none
}


.video {
    height: 55vh;
    width: 57vw;
    margin: 0vh auto;
    background-image: url(images/eat-2661935_1920.jpg);
    opacity: 0.6;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 40px 1px whitesmoke;
}


.text,
.textMediaQuery {
    text-align: center;
    width: 60vw;
    margin: 4vh auto;
    font-size: 36px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.883);
}

.textMediaQuery {
    display: none;
}

/* .wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
    height: 90vh;
    position: absolute;
} */

.wrapLeft {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
    height: 80vh;
    position: absolute;
    bottom: 1vh;
    left: 5vw;
}

.wrapRight {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 10vw;
    height: 80vh;
    position: absolute;
    bottom: 1vh;
    right: 5vw;
}



.wrap a {
    margin: 10px;
    width: 15vh;
    height: 15vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: .5s;
    cursor: pointer;
    border: 2px solid rgba(218, 215, 215, 0.74);
    line-height: 100%;
    border-radius: 10px;
}

.wrap a:hover {
    box-shadow: 0 0 20px 1px whitesmoke;
}


a p {
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 18px;
    line-height: 150%;
    color: white;
    font-weight: 700;
}

.play {
    position: absolute;
    bottom: 50vh;
    left: 50%;
    transform: translate(-50%, 50%);
    cursor: pointer;

}


.fa-play-circle {
    font-size: 70px;
    height: 50px;
    width: 50px;
    color: whitesmoke;
    animation: lightH1 1s ease infinite alternate;
}

/* @keyframes biggerPlay {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }
} */

@keyframes lightH1 {
    0% {
        color: gray;
    }

    100% {
        color: rgb(233, 227, 218);
        ;
    }
}

.backToMain {
    position: fixed;
    left: 1vw;
    top: 1vh;
    background-color: transparent;
    border: none;

}

.fa-home {
    font-size: 40px;
    color: rgba(245, 245, 245, 0.712);
    padding: 5px 0;
    transition: .2s;
}

.fa-home:hover {
    border-bottom: 3px solid whitesmoke;
    color: white;
}

@keyframes moveWrap {
    0% {
        transform: translateX(-20px);
    }

    100% {
        transform: translateX(20px);
    }
}

.wisielec {
    background-image: url(images/1a.jpg);
    animation: moveWrap 2s linear infinite alternate;
}

.pingPong {
    background-image: url(images/2a.jpg);
    animation: moveWrap 2s linear infinite alternate-reverse;
}

.memory {
    background-image: url(images/3a.jpg);
    animation: moveWrap 2s linear infinite alternate;
}

.listaZadan {
    background-image: url(images/8a.png);
    animation: moveWrap 2s linear infinite alternate-reverse;
}

.ninjaVsZombie {
    background-image: url(images/11a.jpg);
    animation: moveWrap 2s linear infinite alternate-reverse;
}

.kapitanRakieta {
    background-image: url(images/4a.jpg);
    animation: moveWrap 2s linear infinite alternate;
}

.blackJack {
    background-image: url(images/5a.jpg);
    animation: moveWrap 2s linear infinite alternate-reverse;
}

.serialoweQuizowanie {
    background-image: url(images/6a.jpg);
    animation: moveWrap 2s linear infinite alternate;
}

.aplikacjaPogodowa {
    background-image: url(images/7a.png);
    animation: moveWrap 2s linear infinite alternate-reverse;
}

.dorotaSzydełkuje {
    background-image: url(images/9a.jpg);
    animation: moveWrap 2s linear infinite alternate;
}

.jjApartments {
    background-image: url(images/10a.jpg);
    animation: moveWrap 2s linear infinite alternate-reverse;
}




.none {
    display: none;
}

@media(orientation: portrait) {
    h1 {
        font-size: 24px;
        margin: 2vh auto;
        letter-spacing: 5px;
    }

    .video {
        height: 30vh;
        width: 90vw;
        margin: 4vh auto;
        margin-top: 0;
        opacity: 0.6;

    }


    .wrapLeft {
        width: 10vw;
        height: 50vh;
        top: 52vh;
        left: 20vw;
    }

    .wrapRight {
        width: 10vw;
        height: 50vh;
        top: 52vh;
        right: 20vw;
    }

    .wrap a {
        margin: 5px;
        width: 18vh;
        height: 8vh;
    }

    .text {
        display: none;
    }

    .textMediaQuery {
        display: block;
        font-size: 20px;
        margin-top: 2vh;
        text-align: center;
    }

    .fa-home {
        font-size: 25px;
        color: rgba(245, 245, 245, 0.712);
        padding: 5px 0;
        transition: .2s;
    }

    @keyframes moveWrap {
        0% {
            transform: translateX(-10px);
        }

        100% {
            transform: translateX(10px);
        }
    }

    a p {
        font-size: 14px;
    }

    .play {
        position: fixed;
        bottom: 65%;
        left: 50%;
        transform: translateX(-50%);
        cursor: pointer;
    }


    .fa-play-circle {
        font-size: 40px;
        height: 40px;
        width: 40px;
        color: whitesmoke;
        animation: lightH1 1s ease infinite alternate;
    }


    .wisielec {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate;
    }

    .pingPong {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate-reverse;
    }

    .memory {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate;
    }

    .listaZadan {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate-reverse;
    }

    .kapitanRakieta {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate;
    }

    .blackJack {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate-reverse;
    }

    .serialoweQuizowanie {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate;
    }

    .aplikacjaPogodowa {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate-reverse;
    }

    .dorotaSzydełkuje {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate;
    }

    .jjApartments {
        background-image: none;
        animation: moveWrap 2s linear infinite alternate-reverse;
    }

    .ninjaVsZombie {
        background-image: none;
    }

    .ring button {
        height: 6vh;
        width: 28vw;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid rgba(255, 255, 255, 0.753);
        margin: 0px 1px 5px;
        font-weight: 800;
        border-radius: 10px;
    }

    /* .ring button {
        z-index: 1000;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translateX(-50%);
        width: 15vh;
        height: 15vh;
        border-radius: 50%;
        transform-origin: left -30px;
        animation: animate 8s linear infinite;
        font-size: 8px;
        color: white;
        background-color: rgba(29, 27, 27, 0.459);
        border: none;
        box-shadow: 0 0 20px 5px white;
        cursor: pointer;
    }

    .ring button:hover {
        animation: activeRing 2s linear infinite alternate;
    }


    .ring .aplikacje {
        animation-delay: 2s;

    }

    .ring .stronyWWW {
        animation-delay: 4s;
    } */

    @keyframes animate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}

@media(orientation: landscape) and (max-width: 1000px) {
    h1 {
        font-size: 24px;
    }

    .ring button {
        height: 8vh;
        width: 18vw;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid rgba(255, 255, 255, 0.753);
        margin: 0 2px 5px;
        font-weight: 400;
        border-radius: 10px;
    }


    .video {
        height: 52vh;
        width: 62vw;
        margin: 3vh auto;
        margin-top: 0;
    }

    .text {
        display: none;
    }

    .textMediaQuery {
        display: block;
        font-size: 20px;
        margin-top: 1vh;
    }

    .wrapLeft {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 10vw;
        height: 90vh;
        position: absolute;
        top: 15vh;
        left: 5vw;
    }

    .wrapRight {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        width: 10vw;
        height: 90vh;
        position: absolute;
        top: 15vh;
        right: 5vw;
    }


    .wrap a {
        margin: 5px;
        width: 14vw;
        height: 17vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        text-decoration: none;
        color: white;
        transition: .5s;
        cursor: pointer;
        border: 2px solid rgba(218, 215, 215, 0.74);
        line-height: 100%;
        border-radius: 10px;
    }

    a p {
        font-size: 14px;
        font-weight: 600;
    }

    .play {
        position: fixed;
        bottom: 40%;
    }


    .fa-play-circle {
        font-size: 30px;
        height: 30px;
        width: 30px;
    }

    .fa-home {
        font-size: 30px;
    }


    @keyframes moveWrap {
        0% {
            transform: translateX(-5px);
        }

        100% {
            transform: translateX(5px);
        }
    }

    .wisielec {
        background-image: none;
    }

    .pingPong {
        background-image: none;
    }

    .memory {
        background-image: none;
    }

    .listaZadan {
        background-image: none;
    }

    .kapitanRakieta {
        background-image: none;
    }

    .blackJack {
        background-image: none;
    }

    .serialoweQuizowanie {
        background-image: none;
    }

    .aplikacjaPogodowa {
        background-image: none;
    }

    .ninjaVsZombie {
        background-image: none;
    }

    .dorotaSzydełkuje {
        background-image: none;
    }

    .jjApartments {
        background-image: none;
    }
}